<h1>
    Fiche de contact
</h1>
<br/>

<h2>Un formulaire a été rempli pour votre département.</h2>
<br/><br/>

<h3>Firstname :</h3>
{{ form["Nom"] }}
<br/>
<br/>

<h3>Lastname :</h3>
{{ form["Prenom"] }}
<br/>
<br/>

<h3>Email :</h3>
{{ form["Email"] }}
<br/>
<br/>

<h3>Message :</h3>
{{ form["Message"] }}